# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
.env
.venv
venv/
env/

# Databases
*.db
*.sqlite
*.sqlite3

# Generated data
mock_capex_data.csv

# OS-specific
.DS_Store

# Frontend (from create-react-app)
frontend/node_modules
frontend/build
frontend/.pnp
frontend/.pnp.js
frontend/coverage
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# files
description.txt
Improvements.txt